<%= turbo_frame_tag "modal" do %>
  <div 
    class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex items-center justify-center z-50" 
    data-controller="modal" 
    data-modal-target="overlay"
    data-action="click->modal#closeBg"
  >
    <!-- Modal Content -->
    <div data-controller="boost" class="bg-slate-800 rounded-lg p-6 w-96 shadow-lg text-white text-center space-y-3">
      <span class="text-xl font-bold mb-4">Mining Power Boost</span>
      <p class="text-white/70 mb-6 text-sm">
        Here you can rent mining power for 30 days. The more mining power you have, the more TON you can mine.
        The investment profitability is 8.493% per day and 254.784%.
      </p>
      <span class="text-3xl font-bold block text-center"><span data-boost-target="ghAmount">100</span> GH/s ⚡️</span>
      <div>
        <span class="text-center block text-white/70">
          Total profit ~<span data-boost-target="totalProfit">20.383</span>
        </span>
        <span class="text-center block text-white/70">
          Daily profit ~<span data-boost-target="dailyProfit">0.679</span>
        </span>
      </div>
      <input 
        class="w-full bg-black/20 rounded-xl p-3 text-center font-bold border-transparent ring-transparent" 
        type="number" 
        value="10"
        data-action="input->boost#onInput"
      >
      <span class="block text-center text-white/70">Mining amount: 1</span>
      <div class="flex flex-col justify-center space-y-3">
        <%= link_to "Add", awaiting_payment_path(10), class: "px-4 py-2 block bg-amber-400 text-black rounded hover:bg-blue-700 font-semibold", data: { action: "click->modal#close", turbo_frame: "modal", boost_target: "link" } %>
        <button class="px-4 py-2 block bg-black/20 text-white/70 rounded hover:bg-gray-300 font-semibold" data-action="click->modal#close">Back</button>
      </div>
    </div>
  </div>
<% end %>
