<%= turbo_frame_tag "modal" do %>
  <div 
    class="fixed text-white inset-0 bg-slate-800 flex items-center z-50" 
    data-controller="modal" 
    data-modal-target="overlay"
    data-action="click->modal#closeBg"
  >
    <div class="mx-auto px-24 space-y-2 bg-black/50 rounded-xl p-3">
      <% @languages.each do |language| %>
        <%= link_to more_path(locale: language[:code]), class: "block", data: { action: "click->modal#close", turbo: false } do %>
          <p class="underline text-start font-emoji"><%= language[:flag] %> <%= language[:name] %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>